[submodule "foundry-fundme-f26/lib/chainlink-brownie-contracts"]
	path = foundry-fundme-f26/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-fundme-f26/lib/foundry-devops"]
	path = foundry-fundme-f26/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
